.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
    margin: 50px 50px;
}

.cart-container{
    background-color: beige;
}


/* Mobile Responsive */
@media  screen and (max-width:667px)  {
    .shop-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .products-container{
        grid-template-columns: repeat(1, 1fr);
    }
}

/* Tablet Responsive */
@media (min-width: 768px) and (max-width: 1024px) {
    .shop-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .products-container{
        grid-template-columns: repeat(2, 1fr);
    }
}