.product{
    width: 320px;
    height: 380px;
    border: 1px solid silver;
    border-radius: 8px;
    position: relative;
}

.product img{
    border-radius: 8px;
}

.product-info{
    margin: 0 15px;
}

.product-name{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    line-height: 25px;
    margin-top: 8px;
}

.btn-cart{
    width: 100%;
    background-color:bisque;
    border: none;
    border-radius: 0px 0px 8px 8px;
    position: absolute;
    bottom: 0;
}

.btn-cart:hover{
    background-color: plum;
}